* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #292929;
  background: #f8f8f8; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #C4C4C4;
    border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0 30px;
  height: 60px;
  width: 100%;
  color: #292929; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #B5B5B5; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #B5B5B5; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #B5B5B5; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #B5B5B5; }

label {
  display: block;
  width: 100%;
  margin: 0 0 20px; }

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  position: relative; }

h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase; }
  h1 strong {
    font-weight: bold; }

h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0 auto 50px; }
  h2 strong {
    font-weight: 800; }

.title-decor {
  position: relative; }
  .title-decor:before {
    content: '';
    position: absolute;
    left: -24px;
    top: 0;
    width: 4px;
    height: 100%;
    background: #FFB11B; }

strong {
  font-weight: bold;
  display: inline-block; }

.box-text {
  line-height: 135%;
  font-size: 16px; }
  .box-text p {
    margin: 0 0 20px; }
    .box-text p:last-child {
      margin: 0; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 0;
  border-radius: 5px;
  height: 60px;
  max-width: 276px;
  width: 100%; }
  .btn:hover, .btn:focus {
    outline: none; }

.btn-grey {
  color: #fff;
  background: #252525; }
  .btn-grey:hover {
    background: #FFB11B;
    color: #252525; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .btn-group .btn {
    margin: 0 24px 0 0; }
    .btn-group .btn:last-child {
      margin: 0; }

.btn-border {
  border: 2px solid #FFB11B;
  color: #fff;
  font-size: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: none; }
  .btn-border strong {
    font-weight: bold; }
  .btn-border .btn-icon {
    fill: #fff; }
  .btn-border:hover {
    background: #FFB11B;
    color: #fff; }

.btn-accent {
  color: #292929;
  background: #FFB11B; }
  .btn-accent:hover {
    background: #252525;
    color: #fff; }

button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

.btn-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 0; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.w-100 {
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -10px; }

.col-2 {
  width: 16.666667%;
  padding: 0 10px; }

.col-3 {
  width: 25%;
  padding: 0 10px; }

.col-4 {
  width: 33.3%;
  padding: 0 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.p-80 {
  padding: 80px 0; }

.p-60 {
  padding: 60px 0; }

.bg-grey {
  background: #EFF1F4; }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 0; }
  header .btn-group {
    margin: 0 auto; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 19px 0 0;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
    border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 75px;
  text-transform: capitalize; }
  .menu li a {
    color: #fff;
    text-align: center; }
    .menu li a:hover {
      color: #FFB11B; }

.btn-burger {
  width: 24px;
  height: 16px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .btn-burger span {
    width: 100%;
    display: block;
    height: 2px;
    background: #fff; }

.contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 0 0;
  color: #fff;
  font-size: 15px; }
  .contacts-box:last-child {
    margin: 0; }

.address {
  max-width: 206px;
  width: 100%; }

.contacts-box__icon {
  background: #FFB11B;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  fill: #252525;
  margin: 0 10px 0 0; }

.phone {
  color: #fff;
  font-size: 15px;
  margin: 0 0 7px; }
  .phone:last-child {
    margin: 0; }

.logo {
  max-width: 171px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.color-accent {
  color: #FFB11B; }

.main {
  padding: 203px 0 60px;
  position: relative;
  background: url("../img/bg1.jpg") no-repeat center top;
    background-size: cover;
  color: #fff; }

.home {
  padding: 210px 0 45px; }
  .home h1 {
    font-size: 60px;
    text-align: left;
    font-weight: normal;
    margin: 0 0 15px; }
  .home .box-text {
    max-width: 511px;
    width: 100%;
    font-size: 17px; }
  .home .image-decor {
    width: 596px;
    margin: -30px 39px 0 -39px; }

.main-content {
  max-width: 600px;
  width: 100%; }

.image-decor {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1; }
  .image-decor:before {
    content: '';
    position: absolute;
    width: 488px;
    height: 262px;
    border: 8px solid #FFB11B;
    top: -10px;
    right: -39px;
    z-index: -1; }

.callback-section {
  position: relative;
  margin: -60px 0 70px; }

.callback-section-wrapper {
  background: #FFB11B;
  margin: 0 auto;
  max-width: 1036px;
  width: 100%;
  -webkit-box-shadow: 0px 6px 20px rgba(69, 99, 135, 0.2);
          box-shadow: 0px 6px 20px rgba(69, 99, 135, 0.2);
  border-radius: 5px;
  padding: 30px; }
  .callback-section-wrapper p {
    text-align: center; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form label {
    max-width: 340px;
    margin: 18px 0 0; }
  .form .btn {
    margin: 18px 0 0; }
    .form .btn:hover {
      background: #000;
      color: #fff; }

.services-box {
  background: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
  border-radius: 5px;
  padding: 30px 10px; }
  .services-box__icon {
    margin: 0 auto 30px; }

.experience .image-decor {
  width: 707px;
  margin: 0 auto 0 -162px; }
  .experience .image-decor img {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0); }
  .experience .image-decor:before {
    left: -65px;
    top: -73px;
    width: 532px;
    height: 346px; }

.experience .container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.experience-content {
  max-width: 590px;
  width: 100%; }
  .experience-content h2 {
    text-align: left;
    margin: 0 0 20px; }

.online-appraisal {
  background: url("../img/bg2.jpg") no-repeat center;
    background-size: cover;
  padding: 70px 0 50px; }
  .online-appraisal h2 {
    color: #fff;
    margin: 0 auto 40px; }
  .online-appraisal .form {
    padding: 0 100px; }
  .online-appraisal .btn {
    margin: 0 0 20px; }
  .online-appraisal label {
    max-width: 340px;
    margin: 0 0 20px; }
  .online-appraisal .label-file {
    max-width: 276px; }

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.label-file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFB11B;
  max-width: 276px;
  width: 100%;
  height: 60px;
  border: 3px solid #FFB11B;
    border-radius: 5px;
  cursor: pointer; }

.input-file-icon {
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.input-file {
  display: none; }

.we-will-redeem {
  padding: 80px 0 60px; }
  .we-will-redeem .image-decor {
    width: 1373px;
    margin: 19px -648px 0 -220px; }
    .we-will-redeem .image-decor:before {
      width: 644px;
      height: 346px;
      top: -57px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }

.we-will-redeem__content {
  max-width: 688px;
  position: relative;
  z-index: 2; }
  .we-will-redeem__content h2 {
    margin: 0 0 40px;
    text-align: left; }

.list-check {
  font-size: 18px; }
  .list-check li {
    margin: 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list-check li:last-child {
      margin: 0; }

.icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 0 0;
  width: 40px;
  height: 40px;
  min-width: 40px; }

.rich-experience {
  padding: 45px 0; }
  .rich-experience .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.rich-experience-img {
  max-width: 519px;
  width: calc(100% - 590px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.experience-two-wrapper {
  max-width: 1078px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .experience-two-wrapper .box-text {
    max-width: 489px; }

.advantages-box {
  height: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 40px 10px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2); }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px; }

.advantages-two {
  padding: 60px 0; }
  .advantages-two .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.advantages-two__image {
  max-width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.advantages-list {
  max-width: 490px;
  padding: 0 0 0 35px;
  width: calc(100% - 636px); }
  .advantages-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 40px; }
    .advantages-list li:last-child {
      margin: 0; }
  .advantages-list__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 30px 0 0;
    width: 50px;
    height: 50px;
    min-width: 50px; }

.callback {
  padding: 73px 0;
  position: relative;
  z-index: 1; }
  .callback:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/bg2.png") no-repeat center;
      background-size: cover;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: 0.3; }
  .callback .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.callback-box {
  max-width: 500px;
  width: 100%;
  padding: 50px 56px;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
  border-radius: 5px;
  background: #fff;
  margin: 0 40px 0 auto; }
  .callback-box p {
    font-size: 14px;
    text-align: center; }
  .callback-box h2 {
    font-size: 30px;
    margin: 0 auto 10px; }
    .callback-box h2 strong {
      font-weight: bold; }
  .callback-box .form {
    max-width: 276px;
    margin: 29px auto 0; }
    .callback-box .form label {
      margin: 0 auto 15px; }
    .callback-box .form .btn {
      margin: 0 auto; }

.callback-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 923px;
  margin: 0 0 0 -360px; }

footer {
  padding: 30px 0;
  background: #252525;
  color: #fff; }
  footer .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .btn-group {
    margin: 0 auto; }

.mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 290px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
  background: #252525;
  padding: 30px 20px;
  z-index: 3;
  overflow-y: auto; }
  .mobile-menu .logo {
    margin: 0 auto 20px;
    max-width: none; }
  .mobile-menu .menu {
    background: transparent;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px auto;
    border: none;
      border-radius: 0; }
    .mobile-menu .menu li {
      margin: 0 auto 10px; }
  .mobile-menu .btn, .mobile-menu .contacts-box {
    width: 100%;
    margin: 0 auto 20px; }

.btn-close {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0 0 20px auto;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    background: #fff;
    width: 1px;
    height: 100%; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.sale {
  padding: 40px 0; }
  .sale .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .sale h2 {
    margin: 0 0 30px;
    text-align: left;
    text-transform: none; }
  .sale .box-text {
    font-size: 18px; }

.sale-img {
  max-width: 585px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -53px 0 0; }

.sale-content {
  width: calc(100% - 585px);
  max-width: 631px; }

.map {
  width: 590px;
  height: 420px; }
  .map iframe {
    width: 100%;
    height: 100%; }
  .map .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.contacts h2 {
  margin: 0 0 10px;
  text-align: left;
  font-size: 18px; }

.contacts p {
  font-size: 18px; }

.contacts .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts-content {
  width: calc(100% - 590px);
  max-width: 538px;
  margin: 0 30px 0 auto; }
  .contacts-content .phone {
    color: #292929; }
  .contacts-content .contacts-box {
    color: #292929;
    margin: 0 0 20px;
    max-width: 266px;
    width: 100%; }
  .contacts-content .btn {
    color: #292929;
    margin: 0 39px 0 0;
    height: 50px; }
    .contacts-content .btn .svg-icon {
      fill: #292929; }

.contacts-content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 0; }

.required {
  padding: 80px 0 60px; }
  .required h2 {
    text-align: left;
    text-transform: none; }

.required-box {
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
  padding: 30px 35px; }
  .required-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 30px; }
  .required-box h3 {
    text-align: center;
    margin: 0 auto 10px;
    font-weight: bold; }

.article .container {
  max-width: 1030px; }

.article .box-text {
  width: 100%;
  font-size: 18px;
  margin: 0 0 40px; }
  .article .box-text:last-child {
    margin: 0; }

.article h2 {
  width: auto;
  text-align: left;
  margin: 0 0 30px; }

.article h3 {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 30px; }

.article .image-decor {
  margin: 40px auto 30px;
  max-width: 803px;
  width: 100%; }
  .article .image-decor:before {
    left: 45px;
    top: 0;
    width: 651px;
    height: 249px; }

.list-dots {
  padding: 0 0 0 20px;
  list-style-type: disc;
  margin: 0 0 20px; }

.articles {
  padding: 65px 0 40px; }

.article-box {
  height: 100%;
  width: 100%; }
  .article-box__img {
    width: 100%;
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    border-radius: 5px; }
    .article-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .article-box__body {
    padding: 20px 0 0; }
  .article-box__title {
    color: #292929;
    font-weight: 600;
    margin: 0 0 10px; }
  .article-box p {
    margin: 10px 0 20px; }

.links-accent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #FFB11B;
  font-weight: 500; }
  .links-accent-icon {
    margin: 0 0 0 10px;
    width: 31px;
    height: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: #FFB11B; }
  .links-accent:hover {
    color: #252525; }
    .links-accent:hover .links-accent-icon {
      fill: #252525; }

.links-accent-text {
  text-decoration: underline; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: #292929;
  opacity: .4; }

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 5;
  overflow: auto;
  max-width: 565px;
  width: 100%;
  text-align: center; }
  .modal h2 {
    margin: 0 auto 15px;
    font-size: 24px; }

.modal-wrapper {
  padding: 60px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
  border-radius: 5px;
  position: relative; }

.modal-icon {
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80px;
  height: 80px;
  width: 100%; }
  .modal-icon img {
    width: 100%; }

.modal-close {
  margin: 40px auto 0;
  font-weight: 600;
  text-decoration: underline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer; }

.redemption {
  padding: 50px 0 0;
  margin: 0 0 147px; }
  .redemption h2 {
    margin: 0 auto 20px; }
  .redemption .box-text {
    font-size: 17px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto 38px;
    text-align: center; }
  .redemption .image-decor {
    width: 100%;
    max-width: 983px;
    margin: 0 auto -77px; }
    .redemption .image-decor:before {
      top: -8px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: 651px;
      height: 118px; }

.why {
  padding: 0 0 70px; }
  .why h2 {
    margin: 0 auto 30px;
    max-width: 790px;
    width: 100%; }
  .why .box-text {
    font-size: 18px;
    max-width: 1078px;
    width: 100%; }

.stages {
  padding: 70px 0 40px; }
  .stages h2 {
    margin: 0 auto 40px; }
  .stages .image-decor {
    width: 536px;
    padding: 51px 0 0;
    margin: 20px -60px -114px 0;
    float: right; }
    .stages .image-decor:before {
      top: 0;
      right: 60px;
      width: 387px;
      height: 237px; }

.stages-box {
  background: #fff;
  border-radius: 5px;
  height: 100%;
  padding: 31px 24px 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0 4px 15px rgba(78, 99, 124, 0.2); }
  .stages-box__number {
    margin: 0 15px 0 -15px;
    font-size: 150px;
    font-weight: bold;
    color: #FFB11B; }

.documents {
  padding: 84px 0 40px; }
  .documents h2 {
    margin: 0 auto 15px; }
  .documents .box-text {
    font-size: 18px;
    text-align: center;
    width: 100%; }

.documents-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0; }

.documents-box {
  max-width: 48%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
          box-shadow: 0px 4px 15px rgba(78, 99, 124, 0.2);
  margin: 0 20px 30px 0;
  padding: 40px 30px;
  font-size: 18px;
  line-height: 165%; }
  .documents-box h3 {
    margin: 0 0 28px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .documents-box:last-child {
    margin: 0 0 30px; }

.documents-box__icon {
  margin: 0 20px 0 0; }

.why-price {
  padding: 0; }
  .why-price .required-box {
    padding: 40px 14px 50px; }
    .why-price .required-box p strong {
      display: inline; }
  .why-price .required-box__icon {
    max-width: 80px;
    width: 100%; }
    .why-price .required-box__icon img {
      width: 100%; }
  .why-price .image-decor {
    width: 811px;
    margin: 0 0 0 -240px; }
    .why-price .image-decor:before {
      width: 682px;
      height: 415px;
      left: -62px;
      top: 15px; }
    .why-price .image-decor img {
      -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
              transform: matrix(-1, 0, 0, 1, 0, 0); }
  .why-price .box-text {
    margin: 0 0 80px;
    max-width: none; }
  .why-price h2 {
    max-width: 1010px;
    margin: 0 auto 44px; }

.why-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .why-wrapper .box-text {
    width: calc(100% - 575px); }

.redemption-two h2 {
  text-align: left;
  margin: 0 0 20px; }

.redemption-two .box-text {
  margin: 0 0 50px;
  font-size: 18px; }

.redemption-two .image-decor {
  width: 624px;
  padding: 57px 50px 0 0;
  margin: 0 -138px 0 60px; }
  .redemption-two .image-decor:before {
    width: 530px;
    height: 350px; }

.redemption-content {
  width: calc(100% - 574px); }

.in-numbers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .in-numbers-box {
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px; }
    .in-numbers-box span {
      display: block;
      font-size: 50px;
      font-weight: 700;
      color: #FFB11B; }

.main-404 {
  padding: 164px 0 0; }

.error-section {
  padding: 100px 0; }
  .error-section h2 {
    text-align: left;
    font-weight: bold;
    margin: 0 0 20px;
    font-size: 34px; }
  .error-section .btn {
    margin: 40px 0 0; }
  .error-section .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.error-section__img {
  width: calc(100% - 565px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.error-section__content {
  max-width: 565px; }
  .error-section__content .box-text {
    max-width: 418px;
    width: 100%; }

@media only screen and (max-width: 1200px) {
  header .btn-group .btn, footer .btn-group .btn {
    font-size: 11px;
    height: 45px;
    padding: 0 10px;
    margin: 0 20px 0 0; }
  .contacts-box__icon {
    width: 40px;
    height: 40px;
    min-width: 40px; }
  .phone {
    font-size: 12px;
    margin: 0 0 4px; }
  .contacts-box {
    font-size: 12px;
    margin: 0 20px 0 0; }
  .address {
    max-width: 170px; }
  .logo {
    max-width: 150px; }
  .home .image-decor {
    width: 496px;
    margin: 0 -40px 0 0; }
  .home h1 {
    font-size: 50px; }
  .main-content {
    max-width: 500px; }
  .form label, .form .btn {
    max-width: 32%; }
  .online-appraisal .label-file {
    max-width: 32%; }
  .experience .image-decor {
    width: 500px; }
  .callback-box .form label, .callback-box .form .btn {
    max-width: none; }
  .callback-img {
    width: 733px;
    margin: 0 0 0 -320px; }
  .experience-two-wrapper .box-text {
    max-width: 48%; }
  .we-will-redeem .image-decor {
    width: 750px;
    margin: auto -300px auto -200px;
    padding: 40px 0 0; }
    .we-will-redeem .image-decor:before {
      width: 80%;
      height: 70%;
      top: 0; }
  .map {
    width: 400px;
    height: 380px; }
  .contacts-content {
    width: calc(100% - 400px);
    margin: 0 0 0 auto; }
  .sale-img {
    max-width: 480px;
    margin: 0 0 0 auto; }
  .sale .box-text {
    font-size: 16px; }
  .sale-content {
    width: calc(100% - 500px); }
  .title-decor {
    padding: 0 0 0 20px; }
    .title-decor:before {
      left: 0; }
  .stages .image-decor {
    width: 400px; }
    .stages .image-decor:before {
      width: 90%;
      height: 80%; } }

@media only screen and (max-width: 992px) {
  header .menu {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header .links-message, footer .links-message {
    padding: 0;
    width: 40px;
    height: 40px; }
    header .links-message .btn-text, footer .links-message .btn-text {
      display: none; }
    header .links-message .btn-icon, footer .links-message .btn-icon {
      margin: 0; }
  header .btn-group .btn, footer .btn-group .btn {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px; }
  footer {
    padding: 10px 0; }
  .main-content {
    max-width: none;
    width: 100%; }
  .home {
    padding: 150px 0 40px; }
    .home h1 {
      text-align: center;
      margin: 0 auto 20px;
      font-size: 40px; }
    .home .box-text {
      max-width: none;
      font-size: 16px; }
    .home .image-decor {
      margin: 20px auto 0; }
  .image-decor {
    margin: 20px auto 0; }
    .image-decor:before {
      width: 388px;
      height: 220px;
      top: 0; }
  .col-2 {
    width: 33.3%; }
  h2 {
    margin: 0 auto 30px;
    font-size: 30px; }
  .experience .image-decor {
    width: 100%;
    margin: 20px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 30px 0 0 30px; }
    .experience .image-decor:before {
      width: 80%;
      height: 70%;
      left: 0;
      top: 0; }
  .experience-content {
    max-width: none;
    width: 100%; }
  .box-text {
    font-size: 14px; }
  .p-80 {
    padding: 60px 0; }
  .online-appraisal .form {
    padding: 0; }
  .online-appraisal {
    padding: 40px 0 30px; }
  .callback-img {
    width: 100%;
    margin: 20px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .callback-box {
    margin: 0 auto;
    padding: 30px; }
  .callback {
    padding: 50px 0; }
  .advantages-two__image {
    max-width: 400px; }
  .advantages-list {
    width: calc(100% - 400px); }
  .advantages-two {
    padding: 50px 0; }
  .experience-two-wrapper .box-text {
    max-width: none;
    margin: 0 0 20px; }
    .experience-two-wrapper .box-text:last-child {
      margin: 0; }
  .rich-experience-img {
    max-width: none;
    margin: 20px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .icon-check {
    width: 30px;
    height: 30px;
    min-width: 30px; }
  .we-will-redeem {
    padding: 60px 0 50px; }
  .we-will-redeem__content {
    max-width: none; }
  .we-will-redeem .image-decor {
    width: 100%;
    margin: 30px auto 0; }
  .list-check {
    font-size: 16px; }
  .required {
    padding: 50px 0 30px; }
  .contacts-content {
    margin: 0 0 20px;
    width: 100%; }
  .map {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 350px; }
  .sale-img {
    max-width: 320px; }
  .sale-content {
    width: calc(100% - 380px); }
  .stages-box__number {
    font-size: 100px;
    margin: 0 15px 0 0; }
  .stages-box {
    padding: 20px;
    font-size: 14px; }
  .stages .image-decor:before {
    width: 280px; }
  .documents {
    padding: 60px 0 40px; }
  .documents-box {
    font-size: 16px; }
    .documents-box h3 {
      font-size: 20px; }
  .redemption-two .image-decor {
    width: 100%;
    max-width: none;
    margin: 20px auto 0; }
    .redemption-two .image-decor:before {
      right: 0;
      width: 90%;
      height: 70%; }
  .redemption-content {
    width: 100%; }
    .redemption-content .box-text {
      font-size: 16px; }
  .why-price .image-decor {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 20px; }
    .why-price .image-decor:before {
      width: 90%;
      height: 70%;
      left: 0;
      top: 0; }
  .why-wrapper .box-text {
    width: 100%; }
  .why-price .box-text {
    margin: 0 0 40px; }
  .mb-50 {
    margin-bottom: 30px; }
  .error-section__img {
    width: 100%;
    max-width: 500px;
    margin: 30px auto 0; }
  .error-section {
    padding: 50px 0; }
    .error-section h2 {
      font-size: 30px;
      text-align: center; }
    .error-section .box-text {
      max-width: none;
      text-align: center; }
    .error-section .btn {
      margin: 20px auto 0; }
  .error-section__content {
    max-width: none;
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 860px) {
  .col-3 {
    width: 50%; }
  .col-4 {
    width: 50%; } }

@media only screen and (max-width: 768px) {
  header .contacts-box-address, footer .contacts-box-address {
    display: none; }
  .home .image-decor {
    width: 100%; }
  .image-decor:before {
    right: 0;
    width: 80%;
    height: 70%; }
  .form label {
    max-width: 48%; }
  .form .btn {
    max-width: 270px;
    margin: 20px auto 0; }
  .callback-section {
    margin: -50px auto 50px; }
  .col-2 {
    width: 50%; }
  .online-appraisal .label-file {
    max-width: 48%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .online-appraisal .btn {
    max-width: 48%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0; }
  .advantages-list {
    width: 100%;
    padding: 0;
    margin: 0 0 30px;
    max-width: none; }
    .advantages-list li {
      margin: 0 0 30px; }
  .advantages-two__image {
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .sale-img {
    max-width: 100%;
    margin: 20px auto 0; }
  .sale-content {
    width: 100%;
    padding: 0; }
  .article .image-decor:before {
    width: 85%;
    height: 70%; }
  .article .box-text {
    font-size: 16px; }
  .article h3 {
    font-size: 24px; }
  .article .image-decor {
    margin: 30px auto; }
  .main {
    padding: 160px 0 40px; }
  h1 {
    font-size: 30px; }
  .redemption .box-text {
    font-size: 15px; }
  .redemption .image-decor:before {
    width: 90%; }
  .redemption {
    margin: 0 0 100px; }
  .why {
    padding: 0 0 40px; }
    .why .box-text {
      font-size: 15px; }
  .documents-box {
    max-width: 100%;
    margin: 0 0 30px;
    padding: 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .logo {
    max-width: 100px; }
  .contacts-box__icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 7px; }
  header .btn-group .btn, footer .btn-group .btn {
    width: 30px;
    height: 30px;
    padding: 5px; }
  header .links-message .btn-icon, footer .links-message .btn-icon {
    width: 100%;
    height: 100%; }
  .contacts-box {
    margin: 0; }
  .btn-burger {
    margin: 0 0 0 10px;
    width: 18px;
    height: 14px; }
  .btn {
    height: 50px;
    font-size: 14px; }
  .form label {
    max-width: none; }
  input {
    height: 50px;
    padding: 0 15px; }
  .online-appraisal .label-file {
    max-width: none;
    height: 50px; }
  .online-appraisal .btn {
    max-width: none; }
  .contacts .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%; }
  .contacts .btn {
    margin: 0 0 10px;
    font-size: 12px;
    height: 40px; }
  .contacts .contacts-box {
    width: 100%;
    max-width: none; }
  .contacts-content-wrapper {
    margin: 30px 0 0; }
  .modal-wrapper {
    padding: 30px; }
  .redemption .image-decor:before {
    height: 70%; }
  .col-4 {
    width: 100%; }
  .stages .image-decor {
    width: 100%;
    margin: 0px auto; }
    .stages .image-decor:before {
      width: 90%;
      right: 0; }
  .stages-box__number {
    font-size: 80px; } }

@media only screen and (max-width: 480px) {
  .col-2, .col-3 {
    width: 100%; }
  h2 {
    font-size: 26px; }
  .main {
    padding: 120px 0 40px; } }

@media only screen and (max-width: 420px) {
  header .btn-group, footer .btn-group {
    display: none; }
  header .logo, footer .logo {
    margin: 0 auto 0 0; } }
